<!DOCTYPE html>
<html ng-app>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT"
        crossorigin="anonymous">
    <title> Welcome to AngularJS </title>
</head>

<body>
    <!-- NAV COMPONENT -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" ng-model="name" placeholder="Enter a name here"> Two way Data binding ...
            </form>
        </div>
    </nav>
    <!-- NAV END -->
<div class="col-sm-12">
    <legend>
        <h2>Hello {{name}} ! </h2>
        <p> Two way Data binding ...</p>
    </legend>
    <legend>
        <button class="btn btn-primary" ng-dblclick="Msg='Hello '+name">
            Double Click
        </button>
        </br>
        <h3>
            {{Msg}}</h3>
    </legend>
    <legend>
        <p>
            <input type="checkbox" ng-model="Switch" /> Disable Submit Button
        </p>
        <p>
            <button class="btn btn-success" ng-disabled="Switch">Submit</button>
        </p>
    </legend>
    <legend>
            First Name :   
            <input type="text" ng-model="firstName">  
                <br />   
        Middle Name:   
                <input type="text" ng-model="middleName">  
                    <br />   
        Last Name :   
                    <input type="text" ng-model="lastName">  
                        <br>   
          
        Full Name: {{firstName + " " + middleName + " " + lastName }}   
    </legend>
</div>


    <script src="js/angular.min.js"></script>
</body>

</html>