<div class="container">
  <!--button part-->
  <app-cockpit (serverCreatedFromCockpitComponent)="onServerAdded($event)" (blueprintCreatedFromCockpitComponent)="onBlueprintAdded($event)">
  </app-cockpit>

  <hr>

  <!--display part-->
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirstElement()">Change first Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirstElement()">Destroy first Element</button>
      <app-server-element *ngFor="let server of serversFromAppComponent" [serverFromServerElementComponent]="server" [name]="server.name">
        <p #contentParagraph>
          <!--ngIf-->
          <strong *ngIf="server.type === 'server'" style="color: red">{{server.content }}</strong>
          <strong *ngIf="server.type === 'blueprint'" style="color: blue">{{ server.content }}</strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>